{% extends 'container.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/content.css') }}">
{% endblock %}
{% block body %}
    <div class="page-404">
        <img src="{{ asset('images/service/404.png') }}" alt="">
        <p>К сожалению, такой страницы нет на данном сайте. Возможно, вы ввели неправильный адрес или страница была удалена с сервера.</p>
    </div>
{% endblock %}
