{% extends 'container.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/content.css') }}">
    <script src="{{ asset('WebGLTogusCorgool/TemplateData/UnityProgress.js') }}"></script>
    <script src="{{ asset('WebGLTogusCorgool/Build/UnityLoader.js') }}"></script>
    <script src="{{ asset('WebGLTogusCorgool/game-run.js') }}"></script>
    <style>
        #stepByStep {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: none;
            font-size: 35px;
            position: absolute;
            top: 470px;
            left: 0px;
            padding-left: 12px;
            padding-bottom: 48px;
            margin: 0 0 30px 55px;
            z-index: 9999999999;
        }
        .webgl-content {
            position: relative;
        }
    </style>
    {{ parent() }}
{% endblock %}
{% block container %}
    <div class="game-www" id="game">
        <div class="webgl-content" style="position: relative;">
            <div id="gameContainer" style="height: 20%;"></div>
            <button id="stepByStep" class="btn-info">
                <i class="fa fa-caret-right"></i>
            </button>
            <div class="footer" style="padding-bottom: 70px">
                <div class="webgl-logo">
                    <table cellpadding="5px" class="table">
                        <tr>
                            <th>Белая сторона</th>
                            <th>Черная сторона</th>
                            <th>Победитель</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="{{ path('user_profile', {'username': gamelog.playerWhite.username}) }}">
                                    {{ gamelog.playerWhite.fullName }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('user_profile', {'username': gamelog.playerBlack.username}) }}">
                                    {{ gamelog.playerBlack.fullName }}
                                </a>
                            </td>
                            <td>{{ gamelog.winner.fullname ?? 'ничья' }}</td>
                        </tr>
                    </table>
                </div>
                <div class="fullscreen" onclick="gf.getGameInstance().SetFullscreen(1)"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/libs/sweetalert2.all.min.js') }}"></script>
    <script>
        function debounce(func, wait, immediate) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }

        let steps = {{ gamelog.steps|raw }};
        let turnStepsToAutoplay = steps;
        let turnStepByStep = steps;
        let elSbS;
        let elStA;
        let autoPlay = false;

        gf = new gameFacade(UnityLoader.instantiate("gameContainer", "../WebGLTogusCorgool/Build/WebBuild.json", {onProgress: UnityProgress}));
        gf.toGame.lockCells();

        const ready = debounce(function () {
            console.log(`Визуализация готова к работе`);
            setInitialState();
        }, 1000);

        gf.setHookOnGameReady(function () {
            ready();
        });

        gf.setHookOnStateIsSet(function () {
            console.log(`Состояние игры установлено`);
            choseShowMethod();
        });

        gf.setHookOnPlayActionsExecuted(function () {
            console.log(`Игровые действия были завершены`);
            if (autoPlay) return showAutoplay();
            if (!turnStepsToAutoplay.length) return showModalAboutEndSteps();
            if (turnStepByStep.length) $('#stepByStep').toggle();
            else showModalAboutEndSteps();
        });

        function showAutoplay() {
            setTimeout(function () {
                elStA = turnStepsToAutoplay.shift();
                gf.toGame.executePlayActions(elStA);
                if (!turnStepsToAutoplay.length) autoPlay = false;
            }, 1000);
        }

        function setInitialState(side = 'White') {
            gf.toGame.setGameState({
                'Side': side,
                'WhiteCells': [9, 9, 9, 9, 9, 9, 9, 9, 9, 9],
                'BlackCells': [9, 9, 9, 9, 9, 9, 9, 9, 9, 9],
                'WhiteSalt': 0,
                'BlackSalt': 0,
                'WhiteCauldron': 0,
                'BlackCauldron': 0
            })
        }

        function viewAutoplayGame() {
            autoPlay = true;
            elStA = turnStepsToAutoplay.shift();
            gf.toGame.executePlayActions(elStA);
        }

        $('#stepByStep').click(function () {
            $('#stepByStep').toggle();
            viewStepByStep();
        });

        function viewStepByStep() {
            elSbS = turnStepByStep.shift();
            gf.toGame.executePlayActions(elSbS);
        }

        function choseShowMethod() {
            swal({
                title: 'Выберите тип воспроизведения',
                showCancelButton: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                cancelButtonColor: '#d33',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Автовоспроизведение',
                cancelButtonText: 'Шаг за шагом',
            }).then((result) => {
                if (result.value) return viewAutoplayGame();
                $('#stepByStep').toggle();
                return;
            })
        }

        function showModalAboutEndSteps() {
            setTimeout(function () {
                swal({
                    title: 'Игра завершена',
                    showCancelButton: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Закрыть',
                })
            }, 3000);
        }

    </script>
{% endblock %}